<form
    novalidate
    [formGroup]="formGroup"
>
    <mat-form-field class="example-full-width">
        <input
            matInput
            formControlName="name"
        >
    </mat-form-field>
</form>

<p *ngIf="formGroup.get('name').hasError('name')">Wrong name</p>
<button
    mat-button
    color="warn"
    (click)="toggleState()"
>
    {{formGroup.get('name').disabled ? 'enable' : 'disable'}}
</button>
<button
    mat-button
    color="primary"
    (click)="submit()"
>
    submit
</button>
<button
    mat-button
    (click)="updateName()"
>
    Update name
</button>
